In [1]:
import pandas as pd
import numpy as np

In [2]:

# Print first 10 rows of pokemon.
pokemon = pd.read_csv("C:/Users/igrav/Desktop/ironhack/Lecture/Week_3/Day2/AM/lab-dataframe-calculations-master/your-code/Pokemon.csv")
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [3]:
#Obtain the distinct values across Type 1 and Type 2.
pokemon[['Type 1', 'Type 2']]

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [4]:
# Then create an array containing the distinct values across both fields
pokemon['Type 1'].value_counts()
pokemon[['Type 1', 'Type 2']].value_counts()

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Length: 136, dtype: int64

In [5]:
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [6]:
# Cleanup Name that contain "Mega"

def clean(x):
    if 'Mega' in x:
        text2 = x.split("Mega", 1)
        x1 = text2[1]
        return "Mega" + x1
    else:
        return x

# pokemon['Name'] = list(map(clean, pokemon['Name']))
pokemon['Name'] = pokemon['Name'].apply(clean)
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [7]:
# Identify the pokemon with the highest A/D Ratio.
pokemon['ratio A/D']=pokemon['Attack']/pokemon['Sp. Def']
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,ratio A/D
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.753846
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.775000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.820000
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.833333
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.040000
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,0.984615
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,0.988235
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.529412
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,0.904348
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.750000

In [8]:
# Identify the pokemon with the highest A/D Ratio.
pokemon[pokemon['ratio A/D']==pokemon['ratio A/D'].max()]
# DeoxysAttack Forme

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,ratio A/D
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [9]:
# Identify the pokemon with the lowest A/D Ratio.
pokemon[pokemon['ratio A/D']==pokemon['ratio A/D'].min()]
# Shuckle

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,ratio A/D
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

In [10]:
# Create a new column called Combo Type whose value combines Type 1 and Type 2.

pokemon['combine']= pokemon['Type 1'].astype(str) + ' ' + pokemon['Type 2'].fillna('') 
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,ratio A/D,combine
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.753846,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.775000,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.820000,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.833333,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.040000,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,0.984615,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,0.988235,Fire Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.529412,Fire Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,0.904348,Fire Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.750000,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.790476,Water
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.895652,Water
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,1.500000,Bug
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0.800000,Bug
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,0.562500,Bug Flying
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.750000,Bug Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,1.000000,Bug Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,1.125000,Bug Poison
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,1.875000,Bug Poison

In [12]:
# Identify the pokemon whose A/D Ratio are among the top 5.

pokemon.pivot_table(index=['Name'], values=['ratio A/D']).sort_values(by="ratio A/D",ascending=False).head(5)

                    ratio A/D
Name
DeoxysAttack Forme   9.000000
Carvanha             4.500000
Krabby               4.200000
Cranidos             4.166667
Rampardos            3.300000

In [13]:
# calculate the mean scores of all numeric fields across all pokemon.
pokemon.pivot_table(index=['Name'])

,#,Attack,Defense,Generation,HP,Legendary,Sp. Atk,Sp. Def,Speed,Total,ratio A/D
Name,,,,,,,,,,,
Abomasnow,460,92,75,4,90,0.0,92,85,60,494,1.082353
Abra,63,20,15,1,25,0.0,105,55,90,310,0.363636
Absol,359,130,60,3,65,0.0,75,60,75,465,2.166667
Accelgor,617,70,40,5,80,0.0,100,60,145,495,1.166667
AegislashBlade Forme,681,150,50,6,60,0.0,150,50,60,520,3.000000
...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,105,60,5,60,0.0,120,60,105,510,1.750000
Zorua,570,65,40,5,40,0.0,80,40,65,330,1.625000
Zubat,41,45,35,1,40,0.0,30,40,55,245,1.125000
Zweilous,634,85,70,5,72,0.0,65,70,58,420,1.214286
Zygarde50% Forme,718,100,121,6,108,1.0,81,95,95,600,1.052632